.container
  .page-header
    h2 Welcome {{user.first_name}}
  .row
    | Congratulations and welcome to the Rolling Bones Family. Let us help you get started on your next adventure dream hunt!
  .row(style="padding-top: 10px;" )
    | My Personalized Hunting Plan
  .row
    | Application Services
  .row
    | My State Preference Points
  .row
    | Application Deadline Reminders
  .row
    | Hunts
  .row
    | Rifles, Scopes
  .row
    | Hunting accessories and products
  .row
    | Precision Shooting courses
  .row
    | My Orders
  .row
    | Questions?  (Service Requests)
  .row
    | IOS and Andriod App
  .row
    .col-md-8
      img.home-img.rounded(src='img/app1.png')
      p.lead.
        PointHunter is the fastest and easiest way to know your points in the western states. The Point Hunter application shows you bonus and preference points for each big game species. Bonus and Preference points are difficult to find. Each state has different systems and requires you to fill out a bunch of information. Enter your information once and have all your preference points displayed. Once logged in, you will have these points displayed at your fingertips year round. At the click of a button see your updated points at any time in any state. You will plan ways to receive hard to get tags more effectively. This can help you go on better hunts more often.
      .video-container
        iframe.col-md-8(src='//www.youtube.com/embed/bwWaV0trHrw', frameborder='0', allowfullscreen='allowfullscreen')

    .col-md-4( style="margin-bottom: 1em" )
      a.add-referrer(href='https://itunes.apple.com/us/app/pointhunter/id900742380?mt=8&uo=4&at=1l3vpF5&ct=', target='itunes_store')
        img(alt='Get it on Google Play', src='/img/available-on-the-app-store.png' )
    .col-md-4( style="margin-bottom: 1em" )
      a.add-referrer(href='https://play.google.com/store/apps/details?id=com.gotmytag.pointhunter&referrer=utm_source%3Daffiliate%26utm_medium%3Dwebsite%26utm_campaign%3D', target='play_store')
        img(alt='Get it on Google Play', src='/img/en_generic_rgb_wo_60.png', style="max-width: 163px;" )

