.form-group.select-list

  .inline-group
    .form-group
      label Hunt
      select.form-control( ng-model="hunt.choice.comboHuntArea1", ng-options="area as area for (area, types) in huntOptions[hunt._id][0].options.comboHuntArea1 | orderBy:'value'", ng-change="(hunt.choice.comboHuntArea1.length > 0)? hunt.choice.comboType1 = '1': hunt.choice.comboType1 = null" )
        option( value="" )
      input( type="hidden", ng-model="hunt.choice.comboType1" )
