.container
  .page-header
    h2 About
  .row
    .col-md-8
      img.rounded( src='img/deer1.jpg', style='max-width: 100%; float: right; width: 400px;' )
      p.
        Most western states have limited entry big game hunts. Accumulating points increases the chances of drawing a limited entry big game tag. This app tracks the points earned for limited entry big game hunts in the western United States.

      p.
        Many serious big game hunters in the western United States put in for multiple states and many different species of big game. Each state allows hunters to access and view points on their respective wildlife websites. These sites are difficult to find and navigate. This is time consuming and cumbersome. If you are applying to hunt in four states, you would have to locate the points on four different state sites. Hence, the creation of Point Hunter. Have the ability to see your points at any time with ease and convenience.

      p.
        At a glance, you can know how many points you have for any given big game species. You can view points for any of the Western States that you have points in. The states currently available to view points include, Arizona, California, Colorado, Montana, Nevada, Oregon, Pennsylvania, Utah, Washington, and Wyoming. Idaho and New Mexico do not have a point system and only offer an annual random draw. This app still provides information for those states.

      p.
        For $1.99 we will show you your points for a year. We will also send you an email every January with a summary of all your points. This timely email will arrive prior to the hunt application periods.

      p.
        Save time, energy, and eliminate errors. It takes a lot of time to look up your points. You have to enter all your information and then submit the query with hopes you filled everything out exactly right. Do it once and we will ensure it is right in every state. It is also much faster than waiting for the states web pages. If you buy the app for your smart phone you do not even have to enter your name or password in the future. Your points will always be readily available.

      p.
        Whether you are bragging to your friends or planning your next big adventure, this is your resource. It is a quick way to know exactly where you sit with points all over the west. You can tap the app on you smartphone and look it up whenever you would like.

      p.
        Point Hunter looks up from each state points for: Mule Deer, Whitetail Deer, Blacktail Deer, Elk, Bison, Moose, Desert Big Horn Sheep, Rocky Mountain Big Horn Sheep, California Big Horn Sheep, Antelope, Black Bear, Turkey, Wolf, Mountain Goats, and Cougar.

      a.btn.btn-primary.col-xs-12.col-sm-6.col-md-4( href="#!/setup", ng-show="isPhoneNotAuthed()" ) Setup
