.container( ng-controller="Contact" )
  .page-header
    h2 Contact
  .row
    .col-md-8
      img.rounded( src='img/deer2.jpg', style='max-width: 100%; float: right; width: 400px;' )
      p We are based out of Orem UT. We have spent our whole life hunting and fishing the western states.Your questions and comments are extremely important to us. Please don't hesitate to contact us.  Leave a message with your contact information if we are unable to answer. Most places we hunt and fish are off the grid. We will return your email or phone call as soon as we are able to plug back in.
      p Email:
        a( href="mailto:support@gotmytag.com" )  support@gotmytag.com
      p Phone: <a href="tel:8014585450">(801) 458-5450</a>
