.container( ng-controller="FGApps" )
  .page-header
    h2 Fish & Game Applications
  .row
    .col-lg-6.col-md-6( style="float: right;" )
      img.rounded( src='img/deer5.jpg', style='max-width: 100%; float: right; width: 400px;' )
    .col-lg-6.col-md-6
      p
        b Click on any link below to go directly where you start to apply for special permits
      p.feed.inline-buttons
        a.btn.btn-default.col-lg-5.col-sm-12.col-xs-12( ng-repeat="state in states | orderBy:'name'", ng-show="state.applicationUrl", target="_blank", href='{{state.applicationUrl}}' ) {{state.name}}

      div
        a.btn.btn-primary.col-xs-12.col-sm-6.col-md-4( href="#!/setup", ng-show="isPhoneNotAuthed()" ) Setup
