.container
  .page-header
  .row
    .col-lg-6.col-md-6
    .col-lg-6.col-md-6( style="float: right;" )
    .col-lg-6.col-md-6

      p
      p.
       Your Social Sec # is not required to see your points, but it is the fastest and easiest way.  In Nevada and Utah you will be required to provide your Sportsmans ID and your Customer ID if you don't provide your SS#.  Also if you choose to use GotMyTag to apply for hunts your SS# will be required.
      p.
       Your Social Sec # is also encrypted and stored securely.
      p.
       Thanks,
      p.
       GotMyTag Team.


      a.btn.btn-primary.col-xs-12.col-sm-6.col-md-4( href="#!/setup", ng-show="isPhoneNotAuthed()" ) Setup
