.container( ng-controller="Terms" )
  .page-header
    h2 Terms and Conditions
  .row
    .col-md-8
      img.rounded( src='img/deer3.jpg', style='max-width: 100%; float: right; width: 400px;' )
      p.
        LICENSE AGREEMENT

      p.
        You must agree to the following terms and conditions of this license agreement before using the software. By clicking the acceptance button immediately following these terms and conditions you acknowledge your agreement to these terms and conditions.

      p.
        The term of the license herein granted is one year and shall automatically renew each year unless (i) you notify us by sending a notice of non-renewal to support@gotmytag.com or (ii) we notify you by sending a notice of non-renewal to the e-mail address you enter when paying for said license. Upon the automatic renewal, your credit card or apple account or Google store account will be charged $1.99 and you hereby authorize such charge.

      p.
        1. General.

      p.
        A. The GotMyTag Services are licensed, not sold, to you for your personal use in accordance with the terms and conditions of the Agreement.

      p.
        B. Title and intellectual property rights in and to any content displayed by or accessed through the gotmytag.com website belong to the respective content owner and no rights to such content are granted by this Agreement.

      p.
        C. Compliance with Laws and Good Conduct. You agree to use the GotMyTag Services in compliance with all applicable laws. You agree that you will not use the GotMyTag Services in any manner that is illegal or in any manner that promotes, encourages or aids in the commission of an illegal activity. You also agree that you will not use the GotMyTag Services in a way that is injurious to GotMyTag or other users of the GotMyTag Services.

      p.
        2. Consent to Use of Data.

      p.
        You agree that GotMyTag and its subsidiaries and agents may collect, maintain, process and use information related to your use of the GotMyTag Services, including, but not limited to, location, unique system or hardware identifiers, information about your computing device, computer, system and application software, and peripherals. You also agree that your credit card data may be securely stored in order to process license renewal charges. Except as necessary to obtain payment for the license to use the GotMyTag Software or to apply for hunting/fishing tags, none of your personally identifiable information will be disclosed to third parties.

      p.
        3. Limitation of Warranty. GotMyTag warrants that the GotMyTag Services will perform substantially in conformance with their description as provided by GotMyTag. GotMyTag sole obligation under this warranty shall be to correct the GotMyTag Services to perform as warranted after notification by you of any non-conformance. If correction is required, you shall provide written notice thereof to GotMyTag. Such written notice shall describe the non-conformity and the events leading up the discovery of the non-conformity. GotMyTag will, within a reasonable time of receipt of such notice make the necessary corrections. THE FOREGOING WARRANTY IS IN LIEU OF ALL OTHER WARRANTIES, EXPRESS, IMPLIED, OR STATUTORY, INCLUDING WITHOUT LIMITATION ALL WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND/OR NON-INFRINGEMENT. GOTMYTAG MAKES NO REPRESENTATION OR WARRANTY THAT THE GOTMYTAG SERVICES WILL MEET YOUR REQUIREMENTS, BE ERROR FREE, OR OPERATE WITHOUT INTERRUPTION. NO EMPLOYEE, AGENT OR REPRESENTATIVE OF GOTMYTAG HAS AUTHORITY TO BIND GOTMYTAG TO ANY ADDITIONAL OR OTHER REPRESENTATION OR WARRANTY CONCERNING THE GOTMYTAG SERVICES.


      p.
        4. Limitation of Liability. The cumulative liability of GotMyTag for any and all claims whatsoever related to or arising out this Agreement shall not exceed the cumulative amount of payments made under this Agreement by you to GotMyTag in the previous year.


      p.
        5. Excluded Damages. IN NO EVENT SHALL GOTMYTAG BE LIABLE FOR ANY INCIDENTAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES EVEN IF ADVISED OR AWARE OF THE POSSIBILITY THEREOF.


      p.
        6. Miscellaneous. This Agreement shall be governed by and construed in accordance with the laws of the State of Utah, excluding its conflict of law principles.

      p.
        Any civil action related to this agreement must be brought exclusively within the State of Utah. Headings are for convenience only and shall not be used in the interpretation of this Agreement.

      p.
        This Agreement constitutes the entire agreement between you and GotMyTag with respect to the subject matter hereof and supersedes all prior or contemporaneous understandings and agreement regarding such subject matter.

      p
        a( ng-click="logout()", style="color: white;" ) Test Sign Out

      p.
        No amendment to or modification of this Agreement will be binding unless in writing and signed by GotMyTag.
