#AdminEmails.container
  .page-header
    h3 Emails
  .row
    .col-lg-12.col-md-12
      .emailTypes
        a.btn.btn-default( href="#!/admin/emails/welcome" ) Welcome
        span  - Email template used when sending users their welcome email or hunting profile updates
   br

  .row
    .col-lg-12.col-md-12
      .emailTypes
        a.btn.btn-default( href="#!/admin/emails/points" ) Yearly Points
        span  - Email template used when sending users their yearly points email
  br

  .row
    .col-lg-12.col-md-12
      .emailTypes
        a.btn.btn-default( href="#!/admin/emails/hunt_catalog" ) Hunt Catalog
        span  - Email template used when sending user hunt catalog email

