.form-group.select-list

  select.form-control( ng-model="hunt.choice.hunt1", ng-options="option.name for option in huntOptions[hunt._id] | orderBy:'name'" )
    option( value="" )

  select.form-control( ng-model="hunt.choice.hunt2", ng-options="option.name for option in huntOptions[hunt._id] | orderBy:'name'" )
    option( value="" )

  select.form-control( ng-model="hunt.choice.hunt3", ng-options="option.name for option in huntOptions[hunt._id] | orderBy:'name'" )
    option( value="" )

  select.form-control( ng-model="hunt.choice.hunt4", ng-options="option.name for option in huntOptions[hunt._id] | orderBy:'name'" )
    option( value="" )

  select.form-control( ng-model="hunt.choice.hunt5", ng-options="option.name for option in huntOptions[hunt._id] | orderBy:'name'" )
    option( value="" )
