#ChangePassword.container( ng-controller="ChangePassword" )
  .page-header
  .row
    .col-lg-6.col-md-6
      .well
        form.form-horizontal( ng-submit="submit(user)" )
          fieldset
            legend Change Password
            div
              .form-group
                label.col-lg-4.control-label( for='inputCurrentPassword' ) Current Password
                .col-lg-8
                  input#inputCurrentPassword.form-control( type='password', placeholder='Password', ng-model="user.currentPassword" )

            .form-group
              label.col-lg-4.control-label( for='inputPassword' ) New Password
              .col-lg-8
                input#inputPassword.form-control( type='password', placeholder='New Password', ng-model="user.password" )

            .form-group
              label.col-lg-4.control-label( for='inputNewPassword' ) Confirm New Password
              .col-lg-8
                input#inputNewPassword.form-control( type='password', placeholder='Confirm New Password', ng-model="user.newPassword" )

            button.btn.btn-primary.col-lg-offset-4.col-lg-8.col-xs-12 Change My Password
