| <script type="text/ng-template" id="partials/navs/public.html">
div( class="navbar", ng-controller="Navigation")
  div( class="navbar-inner row" )
    a( class="brand", href="#!/" ) gotmytag
    div( class="nav-collapse collapse" )
      p( class="navbar-text pull-right" )
        a( href="#register", class="navbar-link" ) {{"Register" | tl}}
| </script>
