.enclose-group
  .form-group
    label.col-lg-4.control-label( for='username' ) Nevada Username
    .col-lg-8
      input#username.form-control( type='text', ng-model="user.nvUsername" )
  .form-group
    label.col-lg-4.control-label( for='password' ) Nevada Password
    .col-lg-8
      input#password.form-control( type='password', ng-model="user.nvPassword" )
