.enclose-group
  .form-group
    label.col-lg-4.control-label( for='username' ) South Dakota Login Username
    .col-lg-8
      input#username.form-control( type='text', ng-model="user.sdUsername" )
  .form-group
    label.col-lg-4.control-label( for='password' ) South Dakota Login Password
    .col-lg-8
      input#password.form-control( type='password', ng-model="user.sdPassword" )
