.enclose-group
  .form-group
    label.col-lg-4.control-label( for='username' ) Washington Username
    .col-lg-8
      input#username.form-control( type='text', ng-model="user.waUsername" )
  .form-group
    label.col-lg-4.control-label( for='password' ) Washington Password
    .col-lg-8
      input#password.form-control( type='password', ng-model="user.waPassword" )
