.form-group
  label.col-lg-4.control-label( for='inputFirstName' ) First Name
  .col-lg-8
    input#inputFirstName.form-control( type='text', placeholder="First Name", ng-model="user.first_name" )
.form-group
  label.col-lg-4.control-label( for='inputLastName' ) Last Name
  .col-lg-8
    input#inputLastName.form-control( type='text', placeholder="Last Name", ng-model="user.last_name" )
