.form-group.select-list

  select.form-control( ng-disabled="huntNotEditable(hunt)", ng-model="hunt.choice.Ans1", ng-options="option.value as option.hunterChoice + ' / ' + option.hunt + ' / ' + option.unitGroupDescription + ' / ' + option.weapon for option in huntOptions[hunt._id] | orderBy:'hunterChoice'" )
    option( value="" )

  select.form-control( ng-disabled="huntNotEditable(hunt)", ng-model="hunt.choice.Ans2", ng-options="option.value as option.hunterChoice + ' / ' + option.hunt + ' / ' + option.unitGroupDescription + ' / ' + option.weapon for option in huntOptions[hunt._id] | orderBy:'hunterChoice'" )
    option( value="" )

  select.form-control( ng-disabled="huntNotEditable(hunt)", ng-model="hunt.choice.Ans3", ng-options="option.value as option.hunterChoice + ' / ' + option.hunt + ' / ' + option.unitGroupDescription + ' / ' + option.weapon for option in huntOptions[hunt._id] | orderBy:'hunterChoice'" )
    option( value="" )

  select.form-control( ng-disabled="huntNotEditable(hunt)", ng-model="hunt.choice.Ans4", ng-options="option.value as option.hunterChoice + ' / ' + option.hunt + ' / ' + option.unitGroupDescription + ' / ' + option.weapon for option in huntOptions[hunt._id] | orderBy:'hunterChoice'" )
    option( value="" )
